*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0 10%;
}
nav{
    margin-top: 9px;
    display: flex;
    flex-direction: column;
    background-color: #AB123D;
     /* width: 95%;  */
    /* margin-left: 3%;  */
}
.linker{
    margin-top: 10px;
}
.nav_head{
    display: flex;
    align-items: center;

    /* justify-content: space-between; */
}
.nav_head h1{
    margin-left: 300px;

    font-size: 2.8rem;
    color: white;
    font-weight: 550;
}
.nav_head a{
    color: white;
    font-size: 23px;
    font-weight: 600;
    text-decoration: none;
    margin-left: 367px;
}
nav ul{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    background-color: black;
    height: 45px;

    
}
nav ul li{
    /* font-size: 16px; */
    font-weight: 700;
    color: white;
}
.a-btn{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.a-btn button{
    height: 60px;
    margin-left: 5px;
    width: 226px;
    font-size: 20px;
    border: none;
    margin-top: 5px;
    /* text-align: center; */
    /* padding: 12px; */
}
#btn1{
    background-color: #d62758;
}
#btn2{
    background-color: #2d27d6;
}
#btn3{
    background-color: green;
}
#btn4{
    background-color: red;
}
#btn5{
    background-color: yellow;
}
#btn6{
    background-color: pink;
}
#btn7{
    background-color: blue;
}
#btn8{
    background-color: #d62758;
}
.body-content{
    display: flex;
    justify-content: space-evenly;
}
.body1{
    margin-top: 80px;
    border: 2px solid orange;
    width: 280px;
}
.body1 ul li{
    margin-top: 9px;
    margin-left: 19px;
}
.body1 h2{
    color: white;
    text-align: center;
    width: 100%;
    background-color: #AB123D;
}
.body-content2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.body2{
    margin-top: 80px;
    border: 2px solid orange;
    width: 280px;
}
.body2 h2{
    color: white;
    text-align: center;
    width: 100%;
    background-color: #AB123D;
}
.body2 ul li{
    margin-top: 9px;
    margin-left: 19px;
}
.first{
    height: max-content;
}
.body-content3{
    display: flex;
    margin-top: -220px;
    width: 70%;
    justify-content: space-evenly;
}
.body-content4{
    /* display: flex;
    align-items: center;
    flex-direction: column; */
    margin-left: 40px;
    text-align: center;
    width: 93%;
    border: 2px solid orange;
}
.body-content4 h2{
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    background-color: #AB123D;
}
.body-content4 ul li{
    margin-left: 40px;
    text-align: left;
}

footer{
    display: flex;
    width: 93%;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 40px;
}
.footer-items ul {
    list-style: none;
    margin-top: 20px;

}
.footer-items ul li{
    margin-top: 8px; 
}
.footer-items ul li a{
    font-size: 14px;
    text-decoration: none;
    color: black;
}